<!DOCTYPE html>
<html
        lang="ko"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8" />
    <title>관리자 페이지</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <!-- <link rel="stylesheet" href="../static/css/admin.css" /> -->
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
<div class="wrap">
    <!-- 사이드바 -->
    <div class="sidebar">
        <div class="sidebar_header">
            <p>부동맞춤</p>
            <span class="color_blue">manager</span>
            <button id="logout" th:onclick="|location.href='@{/logout}'|">
                로그아웃
            </button>
        </div>
    </div>
    <div class="main_content">
        <form id="basicForm" th:object="${basic}" th:action="@{/save}">
            <!-- 권리관계 -->
            <label>Sole Ownership Land</label>
            <input type="text" th:field="*{ownershipLand}" />

            <label>No Sole Ownership Land</label>
            <input type="text" th:field="*{noOwnershipLand}" />

            <label>Sole Ownership Building</label>
            <input type="text" th:field="*{ownershipBuilding}" />

            <label>No Sole Ownership Building</label>
            <input type="text" th:field="*{noOwnershipBuilding}" />

            <!-- (이하 생략) -->

            <!-- 토지이용계획 -->
            <label>Use Area</label>
            <input type="text" th:field="*{useArea}" />

            <label>Use District</label>
            <input type="text" th:field="*{useDistrict}" />

            <label>Use Section</label>
            <input type="text" th:field="*{useSection}" />

            <label>Plan Facility</label>
            <input type="text" th:field="*{planFacility}" />

            <label>Permitted Area</label>
            <input type="checkbox" th:field="*{permittedArea}" />

            <label>Speculative Area</label>
            <select th:field="*{speculativeArea}">
                <option th:each="area : ${T(com.example.SpeculativeArea).values()}"
                        th:value="${area}" th:text="${area}">Option</option>
            </select>

            <label>Plan</label>
            <input type="text" th:field="*{plan}" />

            <label>Etc</label>
            <input type="text" th:field="*{etc}" />

            <!-- 취득 시 부담한 조세의 종류 및 세율 -->
            <label>Acquisition Tax</label>
            <input type="number" th:field="*{acquisitionTax}" />

            <label>Fram Tax</label>
            <input type="number" th:field="*{framTax}" />

            <label>Local Tax</label>
            <input type="number" th:field="*{localTax}" />

            <button type="submit">Save</button>
        </form>
    </div>
</div>
<script src="/js/manager.js"></script>
</body>
</html>
