<!DOCTYPE html>
<html
        lang="ko"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8" />
    <title>관리자 페이지</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <!-- <link rel="stylesheet" href="../static/css/admin.css" /> -->
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
<div class="wrap">
    <!-- 사이드바 -->
    <div class="sidebar">
        <div class="sidebar_header">
            <p>부동맞춤</p>
            <p>manager</p>
            <span class="color_blue">admin</span>
            <button id="logout" th:onclick="|location.href='@{/logout}'|">
                로그아웃
            </button>
        </div>
    </div>
    <div class="main_content">
        <body>
        <form id="basicForm" th:action="@{/api/manager/basic}" method="post">
            <!-- 권리관계 -->
            <h2>권리관계</h2>
            <label for="ownershipLand">소유권 토지:</label>
            <input type="text" id="ownershipLand" name="ownershipLand" required>

            <label for="noOwnershipLand">비소유권 토지:</label>
            <input type="text" id="noOwnershipLand" name="noOwnershipLand" required>

            <label for="ownershipBuilding">소유권 건축물:</label>
            <input type="text" id="ownershipBuilding" name="ownershipBuilding" required>

            <label for="noOwnershipBuilding">비소유권 건축물:</label>
            <input type="text" id="noOwnershipBuilding" name="noOwnershipBuilding" required>

            <!-- 민간 임대 등록 여부 등 추가 항목도 동일한 방식으로 추가 -->

            <!-- 토지이용계획 -->
            <h2>토지이용계획</h2>
            <label for="useArea">용도지역:</label>
            <input type="text" id="useArea" name="useArea" required>

            <label for="useDistrict">용도지구:</label>
            <input type="text" id="useDistrict" name="useDistrict" required>

            <label for="useSection">용도구역:</label>
            <input type="text" id="useSection" name="useSection" required>

            <label for="planFacility">도시,군 계획시설:</label>
            <input type="text" id="planFacility" name="planFacility" required>

            <label for="permittedArea">허가, 신고 구역 여부:</label>
            <input type="checkbox" id="permittedArea" name="permittedArea" >

            <!-- Enum 타입인 speculativeArea에 대한 처리를 추가 -->

            <label for="plan">지구단위계획구역, 도시 군 관리계획:</label>
            <input type="text" id="plan" name="plan" required>

            <label for="etc">그 밖의 이용제한 및 거래 규제사항:</label>
            <input type="text" id="etc" name="etc" required>

            <!-- 취득 시 부담한 조세의 종류 및 세율 -->
            <h2>취득 시 부담한 조세의 종류 및 세율</h2>
            <label for="acquisitionTax">취득세:</label>
            <input type="number" id="acquisitionTax" name="acquisitionTax" required>

            <label for="framTax">농어촌특별세:</label>
            <input type="number" id="framTax" name="framTax" required>

            <label for="localTax">지방교육세:</label>
            <input type="number" id="localTax" name="localTax" required>

            <button type="submit">Submit</button>
        </form>
        </body>
    </div>
</div>
<script src="/js/manager.js"></script>
<script src="/js/basicForm.js"></script>
</body>
</html>